DATABASE_URL=postgresql://khusan:1234@localhost:5432/food-del
JWT_SECRET=
JWT_ACCESS_EXPIRY=1h
JWT_REFRESH_EXPIRY=30d
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPLOADTHING_TOKEN=
NATIVE_APP_KEY=
PORT=3000
NODE_ENV=development

NEXT_PUBLIC_KAKAO_MAP_KEY=""
KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_ADMIN_KEY=


