# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.turbo/
*.tsbuildinfo

apps/api/uploads

# expo / react native
.expo/
.expo-shared/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# env
.env
.env.local
.env*.local

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# OS
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# coverage
coverage/

# uploaded files (Multer local disk storage)
apps/api/uploads/
